<div class="row">
  <div class="small-12 columns">
    <h1>Edit User</h1>
    <%= form_for :user, url: user_path(@user), method: :patch do |f| %>

      <%= render :partial => "form", :locals => {:f => f} %>

      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
