<div class="layout-2cols">
  <div class="">
    <div class="single-page">
      <h2 class="rs single-title"><%= current_user.name %></h2>
      <div class="box-single-content">
        <div class="editor-content">
          <h3>Your donations:</h3>
          <ul>
              <% if @donations.size == 0 %>
              <li>No donations yet!</li>
              <% end %>

              <% for donation in @donations %>
              <li><%= number_to_currency(donation.amount/100) %> to help <%= link_to donation.campaign.user.name, campaign_path(donation.campaign) %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div><!--end: .content -->
  </div><!--end: .sidebar -->
  <div class="clear"></div>
</div>
