<div class="row">
  <div class="small-12 columns">
    <h1>Edit Video</h1>
    <%= render :partial => 'shared/errors', :locals => { :item => @video } %>

    <%= form_for :video, url: campaign_video_path(@campaign, @video), method: :patch do |f| %>

      <%= render :partial => "form", :locals => {:f => f} %>

      <div>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
