  <div class="layout-2cols">
    <div class="">
      <div class="single-page">
        <h2 class="rs single-title">About</h2>
        <!-- <p class="rs post-by">by <a href="#">Jonh Doe</a></p> -->
        <div class="box-single-content">
          <div class="editor-content">
            <p><%= image_tag asset_path('ex/th-slide1.jpg'), :class => 'img-desc' %></p>

            <h3>What is Donateme.org?</h3>
            <p>Donateme.org is an online crowdsourcing platform to help high performing students raise enough money to pay the tuition of the college of their choice.
              Why?
              One of the world’s largest and growing problems is the high cost of education, especially for top tier universities. Many working class students cannot afford to pay tuition, even with scholarships defraying a portion of the costs. The problem can be even bigger for middle class families who often do not qualify for scholarships. Students of such families may have no choice but to take out monstrous loans that eat up at their income for years after college – that is, if they decide to matriculate with such cost barriers. In impoverished countries, many students are struggling to find funding options in order to attend international universities, and break through the financial barriers of their poverty. All over the world, high caliber students are kept out of the best colleges because of lack of tuition money. Today, there is no crowdfunding tool for donating money to students whose class rank, GPA, and SAT/ACT scores have been verified. </p>

            <h3>Why tell your story?</h3>
            <p>Somewhere in the world, there is a person who relates to your story, believes in your goal, and will contribute towards you accomplishing it. Last year, people like this contributed over 5.1 Billion dollars to causes using platforms just like Donateme.org. Small donations from millions of people helped build orphanages, start non-profits, and pay medical bills. This method of collecting donations is called crowdsourcing, and we use it to ensure that some of that money goes to you. </p>

            <h3>How does Donate Me you verify a student’s grades?</h3>
            <p>Because this is our inaugural year, if selected as a Donateme scholar, we will work directly with your school counselor and administrators to verify your grades and college acceptance. If you would rather use standardized test scores, we will work directly with Collegeboard.org.</p>

            <h3>How do you make sure the money goes only towards tuition?</h3>
            <p>Instead of distributing the donated money directly to the student, we distribute it directly into the student’s collegiate student account. The student provides us his/her student account number once it is set up, and we send a check directly to the school account using that number. In our terms and conditions, it is stated that the money must be used for academic related expenses, so each financial aid office abides by those rules. </p>

            <h3>How do you sign up?</h3>
            <p><strong>Step 1:</strong> Go to www.Donateme.org and click on "Register” to enter your name and email. This lets us know that you’re interested and gives us your contact information.
            <p><strong>Step 2:</strong> Donateme is currently invitation-only, so we will contact you and walk you through setting up your own tuition campaign page. It will include a photo, small background story, GPA, and a video.</p>
            <p><strong>Step 3:</strong> Using social media and email, send your personalized campaign page to family, friends, community leaders, and anyone you know. You’ll be surprised at how many people will support you. We will simultaneously contact graduate organizations, non-profits, and other entities in order to gain pledges for you as well.</p>
            <p><strong>Step 4:</strong> We will collect the pledged money on your behalf and as soon as you’ve set up your college student account, we will distribute the money directly into it. All funds must go directly towards academic related expenses. </p>

            <h3>What are the academic requirements?</h3>
            <p>In order to be selected as a Donateme scholar, each student must meet the following qualifications:
             <ul>
                <li>Be accepted to an accredited 4-year College/University </li>
                <li><strong>And</strong> rank in the Top 25% of his or her class based upon the most recent GPA
                    <p>or</p>
                </li>
                <li>Be accepted to an accredited 4-year College/University </li>
                <li><strong>And</strong> score in the Top 25% on the most recent SAT or ACT</li>
              </ul>
             </p>

            <h3>How do you verify academic and college information?</h3>
            <p>Because this is our inaugural year, if selected as a Donateme scholar, we will work directly with your high school counselor and college administrators to verify your grades and college acceptance. We will work directly with Collegeboard.org to verify your Standardized Testing scores.</p>

            <h3>How does Donateme make money?</h3>
            <p>Donateme is a non-profit organization. However, we still have bills to pay. So, similar to other crowdsourcing sites, Donateme will take a small percentage (5%) off of every donation made to a campaign.</p>
          </div>
        </div>
      </div>
    </div><!--end: .content -->
    </div><!--end: .sidebar -->
    <div class="clear"></div>
  </div>
