  <div class="layout-2cols">
    <div class="">
      <div class="single-page">
        <h2 class="rs single-title">Beta</h2>
        <div class="box-single-content">
          <div class="editor-content">
            <h3>Donate me is a crowdfunding platform.</h3>
            <p>We are currently in Beta testing out our now online crowdfunding services. Our pilot students are 6 outstanding achievers from the Eagle Academy in the Bronx. These exceptional students are in the top 25% of their class, have been accepted into 4 year accredited universities, and need your help in raising funds to go to their school of choice.</p>
          </div>
        </div>
      </div>
    </div><!--end: .content -->
    </div><!--end: .sidebar -->
    <div class="clear"></div>
  </div>
