  <div class="layout-2cols">
    <div class="">
      <div class="single-page">
        <h2 class="rs single-title">Donate Me Team</h2>
        <div class="box-single-content">
          <div class="editor-content">
            <div class="row">
              <div class="small-4 columns">
                <h3>Jerry Varnado</h3>
                <%= image_tag asset_path('ex/Jerry.jpg'), :class => 'thumb-img thumb-avatar img-desc' %>
                <p>Before Donateme, Jerry developed leadership skills as an Army Captain and a passion for education as a collegiate admissions officer. He graduates from Columbia Business School this Spring, and his favorite movie is "<i>Back to the Future II.</i>"</p>
              </div>
              <div class="small-4 columns">
                <h3>Roshen Weliwatta</h3>
                <%= image_tag asset_path('ex/Roshen.jpg'), :class => 'thumb-img thumb-avatar img-desc' %>
                <p>After getting accepted to Columbia University he had almost gave up his acceptance becuase he could not afford to go there. He thought he should find a way to help other students who may also be in the same position. Donate me is the result of the thought.</p>
              </div>
              <div class="small-4 columns">
                <h3>Lauren Dru</h3>
                <%= image_tag asset_path('ex/Lauren.jpg'), :class => 'thumb-img thumb-avatar img-desc' %>
                <p>Lauren has a broad background in Marketing, and has helped launch successful startups by developing go-to-market strategy and growing customer awareness. She graduates from Columbia Business School this Spring, and her favorite Winter Olympic sport is the double luge.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--end: .content -->
    </div><!--end: .sidebar -->
    <div class="clear"></div>
  </div>
