<div class="row">
  <div class="small-12 large-4 columns">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="A month's subscription"
        data-amount="500"></script>
</div>
