/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation/foundation.min.css
 *= require foundation/normalize.css
 *= require legacy/animate.min.css
 *= require legacy/jquery.sidr.light.css
 *= require legacy/md-slider.css
 *= require legacy/normalize.css
 *= require legacy/responsive.css
 *= require legacy/responsiveslides.css
 *= require legacy/style.css
 * require_tree .
 *= require_self
 */

#error_explanation {
    border: 3px solid #c0392b;
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px 0px 10px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0px #c0392b;
}
#error_explanation h3 {
    color: white;
    line-height: 1em;
}

.crop-img {
    background-color: black;
}

.top-project-info .crop-img {
    height: 315px;
}

.lst-popular-project .crop-img {
    height: 270px;
}

.content-info-short .thumb-img .crop-img img,
.crop-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}

ul.main-nav {
    font-size: 13px;
    list-style: none;
}

ul.main-nav li {
    display: inline;
    margin-top: 5px;
}

ul.main-nav li a,
ul.main-nav li a:link,
ul.main-nav li a:visited {
    display: inline-block;
    color: #afbbc1;
    border-top: 1px solid transparent;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 4px;
    margin: 15px 0px 0px 20px;
}

ul.main-nav li a:hover,
ul.main-nav li a:active {
    color: #ea503d;
    border-color: #ea503d;
}

ul.main-nav li a.btn {
    color: #fff;
    border-color: #000;
    text-transform: none;
    position: relative;
    top: -2px;
}
